﻿<div class="jumbotron">
    <h2>Shorten URL Here</h2>
    @using (Html.BeginForm("ShortUrl", "Home", FormMethod.Post)){
        <input type="text" name="originalUrl" style="max-width: 100%;width: 100%;"/>
        <button type="submit" class="btn btn-default">Submit</button>
    }
</div>


<div class="jumbotron">
    <h2>UnShorten URL Here</h2>
    @using (Html.BeginForm("OriginalUrl", "Home", FormMethod.Post)){
        <input type="text" name="shortUrl" style="max-width: 100%;width: 100%;"/>
        <button type="submit" class="btn btn-default">Submit</button>
    }
</div>