﻿<div class="jumbotron">
    <h2>Result</h2>

    <h6>Original URL : <strong><a target="_blank" href="@ViewBag.OriginalUrl">@ViewBag.OriginalUrl</a></strong></h6>
    <h3>Shorten URL : <a target="_blank" href="@ViewBag.ShortUrl">@ViewBag.ShortUrl</a></h3>

    <h3>@ViewBag.NoData</h3>
    @Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning" })
</div>