﻿<div class="jumbotron">
    <h2>Result</h2>
    <h3>Shorten URL : <strong><a target="_blank" href="@ViewBag.ShortUrl">@ViewBag.ShortUrl</a></strong></h3>
    <h6>Original URL : <a target="_blank" href="@ViewBag.OriginalUrl">@ViewBag.OriginalUrl</a></h6>
    @Html.ActionLink("Back", "Index", "Home", new { area = "" }, new { @class = "btn btn-warning" })
</div>